<!-- TODO merge the free intervals maybe -->
<!-- TODO only do queries when changing calendar view -->
<div id='free_calendar'></div>
<div id='free_calendar_url' value="<%= trip_path(@trip)%>.json"></div>
<div id='free_calendar_start' value="<%= @trip.start_date.beginning_of_month %>"></div>