<div class="container">
  <div class="row">
    <div class="col-sm-4 col-xs-12">
      <h3>My Trips</h3>
      <ul class="list-group">
        <%= render @trips %> 
      </ul>
      <%= link_to "New Trip", new_trip_path, class: "btn btn-default" %>
    </div>
    <div class="col-sm-8 col-xs-12">
      <h3>My Destinations</h3>
      <!-- TODO photo carousel of photos from user's destinations -->
      <%= render partial: 'shared/destinations', locals: {destinations: current_user.destinations} %>
      <%= link_to "Update Destinations", interests_edit_path, class: "btn btn-default" %> <br>
    </div>
  </div>
</div>
