<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <h3>My Trips</h3>
      <ul>
        <%= render @trips %> 
      </ul>
      <%= link_to "New Trip", new_trip_path %>
    </div>
    <div class="col-xs-8">
      <h3>My Destinations</h3>
      <!-- TODO this could be a shared partial -->
      <ul>
        <% current_user.destinations.each do |destination| %>
        <li><%= destination %></li>
        <% end %>
      </ul>
      <%= link_to "Update Destinations", interests_edit_path %> <br>
    </div>
  </div>
</div>



