<div class="blacky container">
  <div class="col-sm-12 col-xs-12">
    <h4><%= @user.email %> is interested in the following destinations:</h4>
    <%= render partial: 'shared/destinations', locals: {destinations: @user.destinations} %>
  </div>
  <div class="col-sm-10 col-xs-12">
    <h4><%= @user.email %> is busy on the following dates:</h4>
    <div id='user_calendar'></div>
    <div id='user_calendar_url' value="<%= user_path(@user)%>.json"></div>
  </div>
</div>
