<h2>Update Destinations</h2> 
<ul class="nav nav-tabs">
  <!-- TODO move the "active" class -->
  <li id="destination_edit_list" class="active"><%= link_to "List", interests_list_path %></li>
  <li id="destination_edit_map" ><%= link_to "Map", interests_map_path %></li>
</ul>
