<h2>Update Destinations</h2> 
<!-- TODO turn into bootstrap nav-tabs -->
<%= link_to_unless_current "List", interests_edit_path, class: "btn btn-default btn" %>
<%= link_to_unless_current "Map", interests_map_path, class: "btn btn-default btn" %><br><br>