 <div class="container">
  <div class="row">
    <div class="jumbotron text-center transparent">
      <h1><strong>Let's Go Somewhere</strong></h1>
      <div class="col-sm-12" style="height:25px;"></div>
      <div class="col-sm-8 col-sm-offset-2">
        <div class="col-sm-4 col-xs-12">
          <%= link_to "Register", new_user_registration_path, class: "btn btn-default btn-lg btn-block transparent" %><br>
        </div>
        <div class="col-sm-4 col-xs-12">
          <%= link_to "Log In", new_user_session_path, class: "btn btn-default btn-lg btn-block transparent" %><br>
        </div>
        <div class="col-sm-4 col-xs-12">
          <button type="button" class="btn btn-default btn-lg btn-block transparent">About</button><br>
        </div>
      </div>
    </div>
  </div>
</div>